<h1>Contact Us</h1>

<form action="#">
First name:<br>
<input type="text" name="FirstName" placeholder="Mickey">
Last name:<br>
<input type="text" name="LastName" placeholder="Mouse">
Phone number:<br>
<input type="tel" name="Phone">
Email Address<br>
<input type="email" name="Email">

<input type="submit" value="Submit">
</form>
